body {
  width: -webkit-min-content;
  width: -moz-min-content;
}

ul {
list-style-type: none;
padding: 0px;
margin: 12px;
}

span {
  font-weight: bold;
}

.owl {
  width: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.information {
  font-style: italic;
}

.border {
  border: groove #ffff00;
  border-radius: 10px;
  padding: 3%;
  background-color: #adff2f;
}

.shadow {
  box-shadow: 5px 5px 10px grey;
  background-color: #9acd32;
}
